body {
    font-family: 'Noto Sans KR', sans-serif;
    background: white;
    margin: 0;
    padding: 0;
    color: #222;
}

/* 상단 헤더 */
.header {
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	background-color: #f8f8f8;
}

.header h1 {
    font-size: 40px;
}

.header p {
	margin: 50px 0 50px 0;
	font-size: 0.9em;
}

/* 스텝 프로세스 */
.steps {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    max-width: 1100px;
    gap: 20px;
   
}

.step {
    text-align: center;
}

.icon-circle {
    width: 150px;
    height: 160px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
	border: 1px solid lightgray;
}

.icon-circle img {
    width: 80px;
    opacity: 0.8;
}

.step-title {
    font-size: 15px;
    font-weight: 500;
}

.arrow img{
    /* font-size: 30px;
    font-weight: bold;
    color: #444;
    align-items: center;
    margin: 28px 0 0 0; */
    width: 30px;
    margin: 45px 0 0 0;
}
.arrow2 img{
    width: 30px;
    margin: 45px 0 0 0;
}

/* 버튼 */
.btn-area {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
	
}

.submit-btn {
    background: #002c5f;
    color: #fff;
    padding: 16px 36px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
	text-decoration: none;
}

.sub-btn {
    background: #fff;
    border: 1px solid #aaa;
    padding: 16px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
	text-decoration: none;
}

.submit-btn:hover {
    background: #003a7c;
}

.sub-btn:hover {
    background: #f3f3f3;
}