
#container {
   width: 100%;
   margin: 0 auto; 
}

/* 상단 */
.bluemembers-top {
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	background-color: #f8f8f8;
}
.bluemembers-top > h1 {
	font-size: 40px;
	font-weight: bold;
}
.bluemembers-top > p {
	margin: 50px 0 50px 0;
	font-size: 0.9em;
}

/* 중단 */
.bluemembers-contents {
	max-width: 1200px;
	margin: 0 auto;
}

#bluemembers-title {
	margin: 20px 0 0 0;
	padding: 10px;
	font-weight: bold;
	color: #333;
}

#bluemembers-title > p {
	margin-top: -10px;
	font-size: 0.9em;
}

/* 중단 - 표 */
#bluemembers-chart {
	font-size: 0.9em;
	font-weight: bold;
}

#bluemembers-chart-bottom {
	color: #666;
}

#bluemembers-chart-bottom > h4 {
	margin: 40px 0 -10px 0;
}

.chart-bottom-model {
	margin-left: 10px;
	font-size: 0.95em;	
}

.chart-bottom-description {
	margin-top: -10px;
	margin-left: 20px;
	font-size: 0.9em;
}
		
/* 하단 */
.bluemembers-bottom1 {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px 20px;
    background: #f8f8f8;
	border: 1px lightgray solid;
	border-radius: 4px;
}

.left-img {
    width: 180px;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-img img {
    width: 80%;
	border-radius: 20%;
}

.right-content {
    flex: 1;
    font-size: 16px;
    line-height: 1.6;
}

.right-content h2 span.highlight {
    color: navy;
    font-weight: bold;
}

.right-content ul {
    margin-top: 16px;
    padding-left: 20px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: navy;
    color: white;
    font-size: 15px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
}

/* 하단 3가지 이미지 */
.bluemembers-bottom2 {
	max-width: 1200px;
	margin: 100px 0;
	display: flex;
}		

.bluemembers-bottom2-item {
    text-align: center;
    flex: 1;
}
	
.bluemembers-bottom2-item img {
	width: 380px; height: 180px;
	border: 1px lightgray solid;
	border-radius: 4px;
}

.caption {
	text-align: center;
}

.caption > a {
	position: relative;
	font-size: 0.85em;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.caption > a::after {
    content: ''; 
    position: absolute;
    bottom: -2px;
    left: 0; 
    width: 0;
    height: 2px;
    background-color: navy;
    transition: width 0.25s ease;
}

.caption > a:hover {
    color: navy;
}

.caption > a:hover::after {
    width: 100%; 
}