
#container {
   width: 100%;
   margin: 0 auto; 
}

/* 상단 */
.event-top {
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	background-color: #f8f8f8;
}
.event-top > h1 {
	font-size: 40px;
	font-weight: bold;
}
.event-top > p {
	margin: 50px 0 50px 0;
	font-size: 0.9em;
}

/* 상단 슬라이드 */
.carousel-container {
    position: relative;
    max-width: 1170px;
	/*height: 350px;*/
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-clipper {
    overflow: hidden;
	height: 350px;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%; /* **핵심: 각 슬라이드는 컨테이너 너비만큼 차지** */
	height: 350px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0; /* 배경색 예시 */
}

.carousel-slide img {
    width: 600px;
	height: 350px;
    border-radius: 5px;
}

.slide-content {
	padding: 60px;
}

.detail-btn {
	width: 100px;
	height: 40px;
	background-color: navy;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

/* 버튼 및 인디케이터 스타일 */
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 1.5rem;
}

.prev-btn {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.next-btn {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.carousel-indicators {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
	z-index: 100;
}
	
.indicator-dot {
    width: 10px;
    height: 10px;
    background-color: #666; 
    border: none; 
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator-dot.active {
	background-color: navy;
}

/* 중단 */
.event-contents {
	max-width: 1200px;
	margin: 0 auto;
}

#event-content-title {
	margin: 20px 0 0 0;
	padding: 10px;
	font-weight: bold;
	color: #333;
}

.event-content {
	float: left;
	margin: 2px;
}

.event-content img {
	width: 370px; height: 250px;
	margin: 10px;
}

.caption {
	text-align: center;
}

.event-title {
    position: relative;
    color: #444;
	font-weight: bold;
    text-decoration: none;
}

.event-title::after {
    content: ''; 
    position: absolute;
    bottom: -2px;
    left: 0; 
    width: 0;
    height: 2px;
    background-color: navy;
    transition: width 0.25s ease;
}

.event-title:hover {
    color: navy;
}

.event-title:hover::after {
    width: 100%; 
}

.event-period {
	color: #666;
	padding: 10px 0 20px 0;
	font-size: 0.9em;
}

.footer-section {
	clear: both;
}