#container {
   width: 100%;
   margin: 0 auto; 
}

/* 상단 */
.event-top {
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	background-color: #f8f8f8;
}
.event-top > h1 {
	font-size: 40px;
	font-weight: bold;
}
.event-top > p {
	margin: 50px 0 50px 0;
	font-size: 0.9em;
}

.event-top2 {
	margin: 30px 0 10px;
	padding: 20px;
	text-align: center;
}
.event-title {
	font-size: 25px;
	font-weight: bold;
}
.event-period {
	color: #333;
	margin-left: 250px;
	padding: 10px 0 20px 0;
	font-size: 0.95em;
}
						
/* 중단 */
.event-contents {
	text-align: center;
}

.event-content01 > h1 {
	margin-left: -350px;
	font-size: 40px;
}
.event-content01 > p {
	text-align: left;
	margin-left: 500px;
	color: #777;
	font-size: 1.2em;
	margin-top: -8px;
}

.event-content02-table {
	margin: 10px 0 10px 485px;
	font-size: 1.2em;
}
.event-content02-table tr {
	height: 40px;
}
.event-content02-table td {
	color: #222;
}	

.event-content03 {
	margin-top: 50px;
}
.event-content03 h1 {
	font-size: 40px;
	margin-left: -800px;
}

.event-content-title {
	font-size: 30px;
	margin-left: -600px;
}
.event-content-description {
	font-size: 20px;
	margin-left: -700px;
	margin-top: -10px;
	color: #222;
	font-weight: 500;
}

.event-content04 {
	max-width: 1200px;
	margin-left: 490px;
	margin-bottom: 50px;
}
.event-content04-1 {
	float: left;
	margin: 2px;
}
.event-content04-1 img {
	width: 280px; height: 230px;
	margin: 10px;
}

.caption {
	text-align: center;
	margin-top: -5px;
}

.event-content05 {
	clear: both;
}
.event-content-title2 {
	font-size: 30px;
	margin-left: -530px;
}
.event-content-description2 {
	font-size: 20px;
	margin-left: -480px;
	margin-top: -10px;
	color: #222;
	font-weight: 500;
}

.event-content05-1-table {
	margin: 10px 0 10px 485px;
	font-size: 1.2em;			
}
.event-content05-1-table tr {
	height: 40px;
}
.event-content05-1-table td {
	color: #222;
	text-align: left;
}	

/* 개인정보 및 기타 안내 */
.eventDetail-bottom {
	width: 900px;
	margin-left: 480px;
	padding: 10px;
	background-color: #f8f8f8;	
}

.personal-information > h2, .etc-information > h2 {
	text-align: left;
	margin-left: 20px;
}
		
.personal-information > ul > li, .etc-information > ul > li {
	text-align: left;
	margin-bottom: 10px;
}

.list {
	font-size: 1.02em;
	padding: 10px;
	border-radius: 5px;	
	border: 1px solid #333;
	background-color: navy;
	margin-top: 30px;
	margin-bottom: 30px;
}
.list-text {
	text-decoration: none;
	color: #fff;
}

.footer-section {
	clear: both;
}