/* 전체 레이아웃 컨테이너 */
.v-container {
	max-width: 1600px;
	margin: 40px auto;
    display: flex;
    gap: 44px;
    align-items: flex-start;
}

/* 왼쪽 사이드바 */
.side-box {
    width: 180px;
}

.side-box {
    margin-bottom: 38px;
}

.side-title {
    font-weight: bold;
    margin-bottom: 18px;
}

.side-list {
    background: #fff;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 4px;
    color: #222;
    cursor: pointer;
}

.filter-item input {
    cursor: pointer;
}

/* 메인 */
.main {
    display: flex;
	flex-direction: column;
}

.price-note {
    color: #222;
    margin-bottom: 12px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
    min-height: 700px;
}

/* 차량 */
.card {
    height: 320px;
	width: 320px;
    display: flex;
    flex-direction: column;
}

.card-img {
    background: #fff;
    height: 190px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.card-img img {
    max-width: 100%;
    max-height: 160px;
    object-fit: contain;
}

.card .card-body {
    padding: 18px;
}

.card-title {
    font-weight: bold;
	font-size: 17px;
    margin-bottom: 6px;
}

.card-title a {
	text-decoration: none;
	color: #000;
}

.card-price {
    color: #000;
	font-size: 17px;
    margin-bottom: 12px;
}

.card-function {
    display: flex;
    gap: 15px;
    font-size: 15px;
}

.card-function a {
	text-decoration: none;
	color: #444;
}

.card-function a:hover {
	font-weight: bold;
	color: #222;
}

/* 페이징 전체 위치 */
.pagination {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
/* 버튼 스타일 */
.pagination ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.pagination a {
    display: flex;
	align-items: center;
	justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 36%;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: .2s;
}

.pagination a:hover {
    background: #222;
    color: #fff;
}

.pagination a.active {
    background: #222;
    color: #fff;
    border: 2px solid #000;
    font-weight: 800;
}

.pagination a.arrow {
    font-size: 16px;
}